:root{
    --main-white:#f0f0f0;
    --main-blue:#45567d;
}
/*基本设置*/
*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
/*设置字体大小以便于rem计算
默认文档字体大小= 16px，1rem = 16px，100％= 16px
(100％/ 16px）* 10 = 62.5％，1rem = 10px，62.5％= 10px
*/
html{
    font-size: 10px;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    height: 100%;
}
header{
    flex:0 0 50px;
    width: 100%;
    display: flex;
    color: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #000;
    padding: 1rem 0;   
}
header .title{
    flex:1;
    padding: 0 1.5rem;
}
nav{
    flex: 2;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header a{
    text-decoration: none;
    color: #fff;
}
@media screen and (min-width: 30em) {
    header ul{
        justify-content: flex-end;
    }
    header ul li{
        margin-right: 5rem;
    }
}
main{
    flex: 1 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 20px;
}
@media screen and (max-width:30em) {
    main{
        grid-template-columns: 1fr
    }
    aside{
        display: none;
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 20px;
    list-style: none;
}
.cards li {
    border: 5px solid #000;
    margin-bottom: 1rem;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5rem 1rem;
}

.cards .inner {
    padding: 1.5rem 1rem;
}
aside{
    background-color: #333;
    color: #fff;
}
aside a{
    text-decoration: none;
    color: #fff;
}

aside a:hover{
    text-decoration: underline;
}
footer{
    width: 100%;
    flex: 0 0 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
}